1. Write a Python program to sum all the items in a list.

In [1]:
l = [1,2,3,4,5,6]
sum = 0
for items in l:
  sum+=items
print(sum)

21

2. Write a Python program to get the largest number from a list.

In [2]:
l = [1,2,3,4,5,6]
largest = 0
for items in l:
  if items>largest:
    largest = items
print(largest)

6

3. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

```
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2
```

In [3]:
a = ['abc', 'xyz', 'aba', '1221']
b = []
count = 0
for words in a:
  if len(words) > 2:
    b.append(words)
for i in b:
  if i[0]==i[-1]:
    count+=1
print(count)

2

4. Write a Python program to remove duplicates from a list.

In [4]:
duplicates = ['ajhs','abba','aa','1121','mango','dhhjhjhjd','cc','ajhs','abba','aa']
unique = set(duplicates)
print(unique)

{'1121', 'abba', 'dhhjhjhjd', 'mango', 'ajhs', 'aa', 'cc'}

5. Write a Python program to check if a list is empty or not.

In [5]:
e = []
a = len(e)
if a==0:
  print("list is empty")
else:
  print("list isn't empty")

list is empty

6. Write a Python program to filter the list if the length of the character is < 4

```
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result: ['abc', 'xyz', 'aba']
```

In [6]:
SampleList = ['abc', 'xyz', 'aba', '1221']
lessthanfour = []
for words in SampleList:
  if len(words)<4:
    lessthanfour.append(words)
print(lessthanfour)

['abc', 'xyz', 'aba']

7.Write a Python program to find the second largest number in a list.

In [7]:
a = [1,9,2,1000,5,888,5,5,4,2,2,8,10]
s=set(a)
a=list(s)
a.sort()

print(a[-2])

888

8. Write a Python program to reverse a list at a specific location.

In [8]:
a = [1,9,2,1000,5,888,5,5,4,2,2,8,10]
b = a[3:]
b.reverse()
c=a[0:3]
c.extend(b[2:3])
print(c)

#---------------------------------------------------#

a = [1,9,2,1000,5,888,5,5,4,2,2,8,10]
a[3:]=reversed(a[3:])                                #alternate and easy way to reverse string at specific location
print(a)

[1, 9, 2, 2]

9. Write a Python program to check if a list is a palindrome or not. Return true otherwise false.

In [50]:
word = input("Enter a word: ")
a = [x for x in word]
b = a.copy()
b.reverse()
if a == b:
  print("True")
else:
  print("False")

Enter a word: malayalam
True

10. Write a Python a program to find the union and intersection of two lists.

In [53]:
a = [1,2,3,4,5,6,7,8]
b = [5,6,7,8,9,0]
x = set(a)
y = set(b)
print(x.union(y))
print(x.intersection(y))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{8, 5, 6, 7}

11.Write a Python script to sort (ascending and descending) a dictionary by value

In [26]:
mydict = {"apple": 3, "banana": 5, "cherry": 1, "kiwi": 4, "melon": 2}
x = []
for k,v in mydict.items():
  x.append((k,v))
x.sort(key = lambda a: a[1])
# x.sort(key = lambda a: a[1],reverse=True)
d = {i[0]:i[1] for i in x}
print(d)

None
{'banana': 5, 'kiwi': 4, 'apple': 3, 'melon': 2, 'cherry': 1}

12. Write a Python script to check whether a given key already exists in a dictionary.

In [11]:
mydict = {"apple": 3, "banana": 5, "cherry": 1, "kiwi": 4, "melon": 2}
x = input("Enter the string to check: ")
y = 0
for k,v in mydict.items():
  if x in k:
    print("Yes, key already exists!!!")
    y = 1
if y==0:
  print("No, key doesn't exist")

Enter the string to check: melon
Yes, key already exists!!!

13.Write a Python program to sum all the values in a dictionary.

In [13]:
mydict = {"apple": 3, "banana": 5, "cherry": 1, "kiwi": 4, "melon": 2}
sum = 0
for k,v in mydict.items():
  sum = sum+v
print(sum)

15

14.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10

```
Eg:
Input : 3
Output : {1:1, 2:4, 3:9}
```

In [16]:
a = int(input("enter a number: "))
dct = {x:x**2 for x in range(1,a+1)}
print(dct)

enter a number: 4
{1: 1, 2: 4, 3: 9, 4: 16}

15.Write a Python program to sort a given dictionary by key.

In [27]:
mydict = {"apple": 3, "banana": 5, "cherry": 1, "kiwi": 4, "melon": 2}
x = []
for k,v in mydict.items():
  x.append((k,v))
x.sort(key = lambda a: a[0])
# x.sort(key = lambda a: a[1],reverse=True)
d = {i[0]:i[1] for i in x}
print(d)

[('apple', 3), ('banana', 5), ('cherry', 1), ('kiwi', 4), ('melon', 2)]
{'apple': 3, 'banana': 5, 'cherry': 1, 'kiwi': 4, 'melon': 2}

16.  Write a Python program to create a dictionary from a string.

```
Note: Track the count of the letters from the string.
Sample string : 'learnpython'
Expected output: {'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

```

In [40]:
s = 'learnpython'
l = [letters for letters in s]
d = {x:l.count(x) for x in l}
print(d)

{'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

17. Write a Python program to get the top three items in a shop.

```
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

Expected Output:
item4 55
item1 45.5
item3 41.3
```

In [47]:
sd = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
l = []
for k,v in sd.items():
  l.append((k,v))
l.sort(key = lambda a: a[1],reverse = True)
print(l)
for i in range(0,3):
  print(f'{l[i][0]} {l[i][1]}')

[('item4', 55), ('item1', 45.5), ('item3', 41.3), ('item2', 35), ('item5', 24)]
item4 55
item1 45.5
item3 41.3