**Exercise 1: Create a function with a default argument**
Write a program to create a function show_employee() using the following conditions.
It should accept the employeeâ€™s name and salary and display both.
If the salary is missing in the function call then assign default value 9000 to salary
Given:
showEmployee("Ben", 12000)
showEmployee("Jessa")
Expected output:
Name: Ben salary: 12000
Name: Jessa salary: 9000

In [ ]:
def show_employee(name,salary=9000):
  print("Name:",name,"Salary:",salary)
show_employee("Akshay")

Name: Akshay Salary: 9000

**Exercise 2: Create an inner function to calculate the addition in the following way**
Create an outer function that will accept two parameters, a and b
Create an inner function inside an outer function that will calculate the addition of a and b
At last, an outer function will add 5 into addition and return it

In [ ]:
def outfn(a,b):
  def infn(a,b):
    return a+b
  x = infn(a,b)+5
  return x
outfn(5,10)

20

**Exercise 3: Generate a Python list of all the even numbers between 4 to 30**

In [ ]:
l = []
for x in range(4,30):
  if x%2==0:
    l.append(x)
print(l)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

**Exercise 4: Lambda Function to Check if value is in a List**
Given a list, the task is to write a Python program to check if the value exists in the list or not using the lambda function.


Input  : L = [1, 2, 3, 4, 5]
          element = 4
Output :  Element is Present in the list

Input :  L = [1, 2, 3, 4, 5]
          element = 8
Output :  Element is NOT Present in the list

In [11]:
l = list(input("Enter the list: "))
c = input()
def checknum(x):
  if x in l:
    return 'yes'
  else:
    return 'no'
a = lambda y:checknum(y)
print(str(a))

Enter the list: 2 3 4 5
2
<function <lambda> at 0x78eed6e83d90>

**Exercise 5: Sort list of tuples with their sum**
Sort the points based on their sum of elements in the tuples

points = [(1, 2), (5, 3), (0, 7), (3, 1)]

In [ ]:
l = [(1, 2), (5, 3), (0, 7), (3, 1)]
l.sort(key=lambda x:x[0]+x[1],reverse=True)
print(l)

[(5, 3), (0, 7), (3, 1), (1, 2)]

In [ ]:
a = int(input())
b = [i for i in range(a)]   #list comprehension
print(b)

9
[0, 1, 2, 3, 4, 5, 6, 7, 8]

Enter no of sides: 3
Enter Side 1: 2
Enter Side 2: 3
Enter Side 3: 4
Area:  24

**Exercise 6 :**
Write a python function, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. Return the results as a list

In [ ]:

# def allEven(x):
#   a = str(x)
#   a.split
# l = []
# for i in range(1000,3001):
#   l.append(i)
# print(l)
a = [1000,1029,2736,8888]
b = [str(i) for i in a]
# c = [*b]
print(b)
# c = [eval(i) for i in c]
d = [[*x] for x in b]
# print(c)
# for x in b:
#   if x%2==0 and x!=0:
#     d.append(x)
print(d)
n = 0
newlist = []
for x in d:
  if int(x[0])%2==0 & int(x[1])%2==0 & int(x[2])%2==0 & int(x[3])%2==0 & int(x)!=0:
    newlist.append(x)
print(newlist)

['1000', '1029', '2736', '8888']
[['1', '0', '0', '0'], ['1', '0', '2', '9'], ['2', '7', '3', '6'], ['8', '8', '8', '8']]

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

**Exercise 7 :**
Write a python function that accepts a sentence and calculate and return the number of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10
DIGITS 3

In [ ]:
alphas = 'abcdefghijklmnopqrstuvwxyz'
nums = '1234567890'
alphalist = [*alphas]
numlist = [*nums]
c1 = 0
c2 = 0
string = input("Enter a string: ")
for s in string:
  if s in alphalist:
    c1+=1
  if s in numlist:
    c2+=1
print("No of Alphabets:",c1, "\nNo of digits:",c2)

Enter a string: wsjdha 983 fkje9
No of Alphabets: 10
No of digits: 4

**Exercise 8  MAP: **
Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function

In [ ]:

def removeduplicates(x):
  l = []
  x = x.upper()           #x = x.swapcase() can be used to swap the cases. i.e,
                                          #upper if lower and vice versa
  if x not in l:
    l.append(x)
    return x
a = input('Enter a string: ')
b = map(removeduplicates,a)
print(set(b))

Enter a string: akshaykumarkp
{'H', 'P', 'Y', 'A', 'R', 'U', 'S', 'M', 'K'}

Exercise 9 MAP:
 Write a Python program to element wise add two given lists and find the difference between them. Use the map() function

In [ ]:
l1 = [1,3,2,3,4,5,6]
l2 = [6,7,4,8,5,7,5]
sum = map(lambda a,b:a+b,l1,l2)
diff = map(lambda a,b: a-b,l2,l1)
print(f'Sum: {list(sum)}\nDifference: {list(diff)}')

Sum: [7, 10, 6, 11, 9, 12, 11]
Difference: [5, 4, 2, 5, 1, 2, -1]

**Exercise 10 Filter:**
Write a Python program to filter the height and weight of students, which are stored in a dictionary using lambda.
Original Dictionary:
{'Cierra Vega': (6.2, 71), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
Height> 6ft and Weight> 70kg:
{'Cierra Vega': (6.2, 71)}

In [ ]:
studentdict = {'Cierra Vega': (6.2, 71), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
newdict = {name:(height,weight) for name,(height,weight) in studentdict.items() if height>6 and weight>70}
print(newdict)

{'Cierra Vega': (6.2, 71)}

**Exercise 11 Filter: **
Write a Python program to remove all elements from a given list present in another list using lambda.
Original lists:
list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2: [2, 4, 6, 8]
Remove all elements from 'list1' present in 'list2:
[1, 3, 5, 7, 9, 10]

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [2, 4, 6, 8]
l = filter(lambda x: x not in list2,list1)
print(list(l))

[1, 3, 5, 7, 9, 10]

**Exercise 12 Reduce: **


Write a Python program to calculate the product of a given list of numbers using lambda.
list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Product of the said list numbers:
3628800

In [ ]:
import functools as fn
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x = fn.reduce(lambda a,b: a*b,list1)
print(x)

# CONVENTIONAL METHOD
# --------------------
# prod = 1
# for x in list1:
#   prod = prod*x
# print(prod)

3628800

Exercise 13 Reduce:


 Write a Python program to multiply all the numbers in a given list using lambda.
Original list:
[4, 3, 2, 2, -1, 18]
Mmultiply all the numbers of the said list: -864

In [ ]:
import functools as fn
l1 = [4, 3, 2, 2, -1, 18]
x = fn.reduce(lambda a,b: a*b,l1)
print(x)

-864

Exercise 14 Reduce:


Write a Python program to calculate the average value of the numbers in a given tuple of tuples using lambda.
Original Tuple:
((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
Average value of the numbers of the said tuple of tuples:
(30.5, 34.25, 27.0)

In [ ]:
import functools as fn
t1 = ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
x = list(fn.reduce(lambda a,b: a[0]+b[1],t1))
print(x)

TypeError: 'int' object is not subscriptable

Exercise 15:


Write a Python program to sort a given mixed list of integers and strings using lambda. Numbers must be sorted before strings.
Original list:
[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
Sort the said mixed list of integers and strings:
[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [ ]:
a = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
a.sort(key=lambda x:(isinstance(x,str),x))
print(a)                                      #googled after so many tries

[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

Exercise 16:
Write a Python program to count the occurrences of items in a given list using lambda.
Original list:
[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
Count the occurrences of the items in the said list:
{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [2]:
l = [3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
b = {x:l.count(x) for x in l}                            # couldn't do it using lambda function. So used dict comprehension.
print(b)

{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

Exercise 17:


Write a Python program to remove None values from a given list using the lambda function.
Original list:
[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
Remove None value from the said list:
[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [9]:
l = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
a = filter(lambda x: isinstance(x,int),l)
print(list(a))

[12, 0, 23, -55, 234, 89, 0, 6, -12]